# Mac OS X
.DS_Store
external/.DS_Store

# Xcode

# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
*.hmap
*.xcworkspace
!default.xcworkspace
xcuserdata/
PJToDo/PJToDo/iOS/Pods/
# Generated files
*.o
*.pyc
Pods/
.package.json
# Backup files
*~.nib
PJToDo/iOS/.idea

# Generated by Cargo
# will have compiled files and executables
/target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# These are backup files generated by rustfmt
**/*.rs.bk

# Rust
PJToDo/PJToDo/Rust/pj_to_do_corelib/target
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/diesel-6d92451c2911a485/lib-diesel-6d92451c2911a485
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/diesel-6d92451c2911a485/lib-diesel-6d92451c2911a485.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/diesel_derives-23081f0ff21ff8a3/dep-lib-diesel_derives-23081f0ff21ff8a3
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/diesel_derives-23081f0ff21ff8a3/lib-diesel_derives-23081f0ff21ff8a3
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/diesel_derives-23081f0ff21ff8a3/lib-diesel_derives-23081f0ff21ff8a3.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/h2-16db88586f025925/dep-lib-h2-16db88586f025925
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/h2-16db88586f025925/lib-h2-16db88586f025925
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/h2-16db88586f025925/lib-h2-16db88586f025925.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-f8651063e08cef77/dep-lib-hyper-f8651063e08cef77
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-f8651063e08cef77/lib-hyper-f8651063e08cef77
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-f8651063e08cef77/lib-hyper-f8651063e08cef77.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-tls-d23d832f2dd58d65/dep-lib-hyper_tls-d23d832f2dd58d65
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-tls-d23d832f2dd58d65/lib-hyper_tls-d23d832f2dd58d65
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/hyper-tls-d23d832f2dd58d65/lib-hyper_tls-d23d832f2dd58d65.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/serde_derive-be6edda380ca356c/dep-lib-serde_derive-be6edda380ca356c
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/serde_derive-be6edda380ca356c/lib-serde_derive-be6edda380ca356c
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/serde_derive-be6edda380ca356c/lib-serde_derive-be6edda380ca356c.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-38571e58169ee0b4/dep-lib-syn-38571e58169ee0b4
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-38571e58169ee0b4/lib-syn-38571e58169ee0b4
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-38571e58169ee0b4/lib-syn-38571e58169ee0b4.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-e9127db5d893965b/dep-lib-syn-e9127db5d893965b
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-e9127db5d893965b/lib-syn-e9127db5d893965b
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/syn-e9127db5d893965b/lib-syn-e9127db5d893965b.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/tokio-c1dfabf3db1383ec/dep-lib-tokio-c1dfabf3db1383ec
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/tokio-c1dfabf3db1383ec/lib-tokio-c1dfabf3db1383ec
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/.fingerprint/tokio-c1dfabf3db1383ec/lib-tokio-c1dfabf3db1383ec.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/diesel-6d92451c2911a485.d
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/diesel_derives-23081f0ff21ff8a3.d
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/hyper-f8651063e08cef77.d
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/hyper_tls-d23d832f2dd58d65.d
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libdiesel-6d92451c2911a485.rmeta
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libdiesel_derives-23081f0ff21ff8a3.dylib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libh2-16db88586f025925.rmeta
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libhyper-f8651063e08cef77.rmeta
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libhyper_tls-d23d832f2dd58d65.rmeta
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libserde_derive-be6edda380ca356c.dylib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libsyn-38571e58169ee0b4.rlib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libsyn-e9127db5d893965b.rlib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libtokio-c1dfabf3db1383ec.rmeta
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/serde_derive-be6edda380ca356c.d
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libdiesel_derives-23081f0ff21ff8a3.dylib.dSYM/Contents/Info.plist
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libdiesel_derives-23081f0ff21ff8a3.dylib.dSYM/Contents/Resources/DWARF/libdiesel_derives-23081f0ff21ff8a3.dylib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libserde_derive-be6edda380ca356c.dylib.dSYM/Contents/Info.plist
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/libserde_derive-be6edda380ca356c.dylib.dSYM/Contents/Resources/DWARF/libserde_derive-be6edda380ca356c.dylib
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/save-analysis/libdiesel-6d92451c2911a485.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/save-analysis/libhyper-f8651063e08cef77.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/save-analysis/libhyper_tls-d23d832f2dd58d65.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/deps/save-analysis/libserde_derive-be6edda380ca356c.json
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/incremental/pj_to_do_corelib-10ol1pr4f7d1y/s-f5eaydytab-yfgqjd.lock
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/incremental/pj_to_do_corelib-3oba2yd5bgqre/s-f5eaye0smh-1r3ts2d.lock
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/incremental/pj_to_do_corelib-4sc6i5xhze2f/s-f5eaydwjix-1i660es.lock
PJToDo/Rust/pj_to_do_corelib/target/rls/debug/incremental/pj_to_do_corelib-5yw1btxrs4zm/s-f5eaye2osi-1y8866n.lock
